<a href="https://colab.research.google.com/github/VarshuGangasagre/VarshuGangasagre/blob/main/Data_mining_using_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas**

Pandas is a popular data manipulation and analysis library in python which is based on Numpy.

In [3]:
import pandas as pd
demo= pd.Series()
print(demo)

Series([], dtype: float64)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [4]:
import numpy as np
demo2= ['g','r','e','a','t']
print(demo2)

['g', 'r', 'e', 'a', 't']

In [8]:
#Creating series from dictionary
data_1={'a':0,'b':1,'c':3}
print(type (data_1))
S=pd.Series(data_1)
print(S)
print(type(S))

<class 'dict'>
a    0
b    1
c    3
dtype: int64
<class 'pandas.core.series.Series'>

In [9]:
# import pandas library and aliasing as pd 
import pandas as pd
import numpy as np
data_1={'a':0,'b':1,'c':3}
S=pd.Series(data_1,index=['b','c','d','a'])
print(S)

b    1.0
c    3.0
d    NaN
a    0.0
dtype: float64

In [12]:
#Creating a list from series
list=["V","A","R","S","H","A"]
Series_d= pd.Series(list)
print(Series_d)

0    V
1    A
2    R
3    S
4    H
5    A
dtype: object

In [26]:
import pandas as pd
demo_2=pd.Series([0,1,2,4,5,6],index=['a','b','c','d','e','f'])
print(demo_2)
#reterive the first three element
#print(demo_2[:2])

a    0
b    1
c    2
d    4
e    5
f    6
dtype: int64

In [28]:
print(demo_2[:4])

a    0
b    1
c    2
d    4
dtype: int64

In [29]:
print(Series_d[2:4])

2    R
3    S
dtype: object

In [31]:
print(Series_d[1:])

1    A
2    R
3    S
4    H
5    A
dtype: object

In [35]:
import pandas as pd
S=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(S[-2:])

d    4
e    5
dtype: int64

In [36]:
#Create a data frame from list
data=[1,2,3,4,5]
print(type(data))
df=pd.DataFrame(data)
print(df)
print(type(df))

<class 'list'>
   0
0  1
1  2
2  3
3  4
4  5
<class 'pandas.core.frame.DataFrame'>

In [44]:
import pandas as pd
data=[['Alex',10],['Riya',12],['Shyam',25]]
print(type(data))
df= pd.DataFrame(data,columns=['Name','Age'])
print(df)

<class 'list'>
    Name  Age
0   Alex   10
1   Riya   12
2  Shyam   25

In [45]:
#create a dataframe from dict of ndarrays/lists
import pandas as pd
data={'Name':['Tomy','Jack','Shyam','Riya'],'Age':[28,23,24,27],'Standard':[4,5,6,7]}
df_1=pd.DataFrame(data)
print(df_1)

    Name  Age  Standard
0   Tomy   28         4
1   Jack   23         5
2  Shyam   24         6
3   Riya   27         7

In [46]:
data={'Name':['Tomy','Jack','Shyam','Riya'],'Age':[28,23,24,27],'Standard':[4,5,6,7]}
type(data)

dict

In [49]:
df=pd.DataFrame(data)
print(df)

    Name  Age  Standard
0   Tomy   28         4
1   Jack   23         5
2  Shyam   24         6
3   Riya   27         7

In [50]:
#selecting particular column/column from the dataframe
df_1

    Name  Age  Standard
0   Tomy   28         4
1   Jack   23         5
2  Shyam   24         6
3   Riya   27         7

In [51]:
df_1['Name']

0     Tomy
1     Jack
2    Shyam
3     Riya
Name: Name, dtype: object

In [53]:
df_1['Standard']

0    4
1    5
2    6
3    7
Name: Standard, dtype: int64

In [54]:
df_1['Age']

0    28
1    23
2    24
3    27
Name: Age, dtype: int64

In [58]:
#Pandas location(loc) function
df_1
df_1.loc[0]

Name        Tomy
Age           28
Standard       4
Name: 0, dtype: object

In [59]:
df_1.loc[1]

Name        Jack
Age           23
Standard       5
Name: 1, dtype: object

In [60]:
df_1.loc[2]

Name        Shyam
Age            24
Standard        6
Name: 2, dtype: object

In [63]:
df_1.loc[3]

Name        Riya
Age           27
Standard       7
Name: 3, dtype: object

In [67]:
#Pandas.iloc[] Parameters:Index Position:Index Position of rows in integer or list of integer
print(df_1)
row1=df_1.iloc[[1,3]]
print(row1)

    Name  Age  Standard
0   Tomy   28         4
1   Jack   23         5
2  Shyam   24         6
3   Riya   27         7
   Name  Age  Standard
1  Jack   23         5
3  Riya   27         7

In [70]:
print(df_1)
df_1['Age'].max()

    Name  Age  Standard
0   Tomy   28         4
1   Jack   23         5
2  Shyam   24         6
3   Riya   27         7

28

In [71]:
print(df_1)
df_1['Age'].min()

    Name  Age  Standard
0   Tomy   28         4
1   Jack   23         5
2  Shyam   24         6
3   Riya   27         7

23

In [84]:
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [85]:
df.dropna()

     0    1  2
1  2.0  3.0  5

In [86]:
df.fillna(0)

     0    1  2
0  1.0  0.0  2
1  2.0  3.0  5
2  0.0  4.0  6

In [88]:
df_1=df.fillna(df.mean())
df_1

     0    1  2
0  1.0  3.5  2
1  2.0  3.0  5
2  1.5  4.0  6

In [91]:
df_2=df.fillna(df.mode())
df_2

     0    1  2
0  1.0  3.0  2
1  2.0  3.0  5
2  NaN  4.0  6

In [92]:
df.isnull().sum()

0    1
1    1
2    0
dtype: int64

In [97]:
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [98]:
df[df.notnull()]

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [96]:
df.dropna()

     0    1  2
1  2.0  3.0  5

In [99]:
df.dropna(axis='columns')

   2
0  2
1  5
2  6

In [100]:
df[3] = np.nan
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [101]:
df.dropna(axis='rows', thresh=3)

     0    1  2   3
1  2.0  3.0  5 NaN

In [103]:
df.fillna(0)

     0    1  2    3
0  1.0  0.0  2  0.0
1  2.0  3.0  5  0.0
2  0.0  4.0  6  0.0

In [107]:
#forward-fill
df.fillna(method='ffill')

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  2.0  4.0  6 NaN